header {
  padding-top: 50px;
  padding-bottom: 100px;
  .wrapper-header {
    @include flex-between;
    align-items: center;
    .header-list {
      @include flex-align-center;
      gap: 0 40px;  
    }
    .header-auth {
      @include flex-align-center;
      gap: 0 30px;
      font-weight: 500;
      color: $secondary-text;
    }
  }
}